.MenuBox{
  position: fixed;
  width: 200rem;
  height: 60%;
  font-size: 22rem;
  color: aliceblue;
  margin-top: 25rem;
  margin-left: 15rem;
  text-align: left;
}

.MenuItem{
  border-top: 0.5px solid white;
  width: 100%;
  height: 40rem;
  
}

.SubMenu{
  text-align: left;
}

.SubMenuItem{
  margin: 10rem 60rem;
  width: 140rem;
  font-size: 20rem;
  border-top: 0.5px solid white;
  margin-top: 5rem;
  
}

