*{
  box-sizing: border-box;
  
}

body{
  margin: 0;
  font-family:"Microsoft YaHei",新細明體,mingliu,sans-serif,"Microsoft JhengHei",PMingLiU,Verdana,sans-serif;
  position:relative;
  background:#fff;
  font-size:14px;
  overflow-x: hidden;
}

img{
  vertical-align: middle;
}